{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html>
    <head>
        <link rel = "stylesheet" type = "text/css" 
        href = "{% static 'style.css' %}"/>
        <link rel="icon" href="{% static '/img/icon_txt.svg' %}" type="image/x-icon">
        <title>{% trans 'Title' %}</title>
    </head>
    <body>
        
        <nav id="topnav">
            <div id="logo">
                <img id="logopic" src="{% static '/img/logopan.png' %}">
                <a id="logotxt">{% trans 'Pantomime' %} <br>{% trans 'Theatre' %}</a>
            </div>
            <ul id="navmenu">
                <li><a href="">{% trans 'Home' %}</a></li>
                <li><a href="#">{% trans 'Info' %}</a></li>
                <li><a href="#">{% trans 'Tickets' %}</a></li>
                <li><a  href="#">{% trans 'Press' %}</a> </li>
                <li><a href="#">{% trans 'Kids' %}</a></li>
                <li class="dropdown">
                <a href="/en" class="dropbtn">En</a>
                <div class="dropdown-content">
                    <a href="/az">Az</a>
                </div>
            </ul>
        </nav>
        <div id="header">
            <div id="pantomime"><a>{% trans 'Pantomime' %}</a> </div>
            <div id="theatre"><a>{% trans 'Theatre' %}</a></div>
            <img id="dejavu" src="{% static '/img/dejavu.jpg' %}">
            <img id="iandme" src="{% static '/img/iandme.jpg' %}">
            <div id="empty"></div>
        </div>
        
        <div id="now_showing">
            <div class="showmsg">
                <hr>
                <a>{% trans 'Now Showing' %}</a>
                <hr>
            </div>
            <div class="shows">
                {% for nowshow in nowshows %}
                <div class="show">
                    <div class="showtxt">
                        <h5>{{ nowshow.title }}</h5>
                        <p>{{ nowshow.description }}</p>
                        <button>{% trans 'Tickets' %}</button>
                    </div>
                </div>
                {% endfor %}
                <div class="show">
                    <div class="showtxt">
                        <h5>{% trans 'The Mask' %}</h5>
                        <p>15.03-25.03  l  20.00-21.00 - 1 {% trans 'hr' %}</p>
                        <p>{% trans 'TheMasktxt' %}</p>
                        <p>{% trans 'Story' %}: S. Hajiyeva <br> {% trans 'Director' %}: S. Hajiyeva</p>
                        <button>{% trans 'Tickets' %}</button>
                    </div>
                        <img class="showpic" src="{% static '/img/mask.jpg' %}" alt="a girl dancing in front of a mask hanging on the wall">
                </div>
                <div class="show">
                    <div class="showtxt">
                        <h5>{% trans 'I and Me' %}</h5>
                        <p>15.03-25.03  l  20.00-21.00 - 1 {% trans 'hr' %}</p>
                        <p>{% trans 'IandMetxt' %}</p>
                        <p>{% trans 'Story' %}: S. Hajiyeva <br> {% trans 'Director' %}: S. Hajiyeva</p>
                        <button>{% trans 'Tickets' %}</button>
                    </div> 
                        <img class="showpic" src="{% static '/img/iandme2.jpg' %}" alt="a man confused looking himself in the mirrow">
                </div>
                <div class="show">
                    <div class="showtxt">
                        <h5>{% trans 'The Frame' %}</h5>
                        <p>26.03-05.04  l  20.00-21.00 - 1 {% trans 'hr' %}</p>
                        <p>{% trans 'TheFrametxt' %}</p>
                        <p>{% trans 'Story' %}: S. Hajiyeva <br> {% trans 'Director' %}: S. Hajiyeva</p>
                        <button>{% trans 'Tickets' %}</button>
                    </div>
                        <img class="showpic" src="{% static '/img/frame.jpg' %}" alt="a man on his knees reaching up with his right hand in blue light">
                </div>
            </div>
        </div>
        
        
        <div id="upcoming">
            <div class="showmsg">
                <hr>
                <a>{% trans 'Upcoming' %}</a>
                <hr>
            </div>
            <div class="shows">
                {% for upcomingshow in upcomingshows %}
                <div class="show">
                    <div class="showtxt">
                        <h5>{{ upcomingshow.title }}</h5>
                        <p>{{ upcomingshow.description }}</p>
                        <button>{% trans 'Tickets' %}</button>
                    </div>
                </div>
                {% endfor %}
                <div class="show">
                    <div class="showtxt">
                        <h5>{% trans 'The Frame' %}</h5>
                        <p>26.03-05.04  l  20.00-21.00 - 1 {% trans 'hr' %}</p>
                        <p>{% trans 'TheFrametxt' %}</p>
                        <p>{% trans 'Story' %}: S. Hajiyeva <br> {% trans 'Director' %}: S. Hajiyeva</p>
                        <button>{% trans 'Tickets' %}</button>
                    </div>
                        <img class="showpic" src="{% static '/img/frame.jpg' %}" alt="a man on his knees reaching up with his right hand in blue light">
                </div>          
            </div>
        </div>
        
        <ul id="footernav">
            <li><a href="">{% trans 'Home' %}</a></li>
            <li><a href="#">{% trans 'Info' %}</a></li>
            <li><a href="#">{% trans 'Tickets' %}</a></li>
            <li><a href="/az">AZ</a></li>
        </ul>
        
        <footer>
            <div class="footertitle" id="about_us">
                <h4>{% trans 'About Us' %}</h4>
                <p>{% trans 'AboutUstxt' %}</p>
                <h5>Contact Us</h5>
                <div class="contact">
                    <img src="{% static '/img/Locate.svg' %}">
                    <p>Azerbaijan State Pantomime Theater <br>
                    Azadlıg 49, AZ 1000 </p>
                </div>
                <div class="contact">
                    <img src="{% static '/img/Phone.svg' %}">
                    <p>Tel: (+994 12) 441-47-56</p>
                </div>
                <div class="contact">
                    <img src="{% static '/img/Mail.svg' %}">
                    <p>E-mail: info@pantomima.az</p>
                </div>
            </div>

            <div class="footertitle" id="information">
                <h4>{% trans 'Information' %}</h4>
                <p>{% trans 'About Us' %}</p>
                <p>{% trans 'Press' %}</p>
                <p>{% trans 'News' %}</p>
            </div>
            
            <div class="footertitle" id="social">
                <h4>Social</h4>
                <a href="https://www.facebook.com/groups/36380824674" target="_blank">
                    <div class="contact">
                        <img src="{% static '/img/Facebook.svg' %}">
                        <p>Facebook</p>
                    </div>
                </a>
                <a href="https://www.instagram.com/pantomimetheatre/" target="_blank">
                    <div class="contact">
                        <img src="{% static '/img/Instagram.svg' %}">
                        <p>Instagram</p>
                    </div>
                </a>
                <a href="https://www.youtube.com/channel/UCNNCBYhtWnr7y0o05cdiJnA/" target="_blank">
                    <div class="contact">
                        <img src="{% static '/img/Youtube.svg' %}">
                        <p>Youtube</p>
                    </div>
                </a>
            </div>
            
            <div class="footertitle" id="newsletter">
                <h4>{% trans 'Newsletter' %}</h4>
            </div>
            
        </footer>
        <hr>
        <div id="credits">
            <a href="https://iconscout.com/contributors/bombasticon" target="_blank">Icons by Bombasticon Studio</a>
        </div>
        

    </body>
</html>